<html>
<head>
  <title></title>
  <link rel="Stylesheet" type="text/css" href="/StyleSheets/default.css" />
</head>
<body>
    <div id="header">
        <h1><!-- this is replaced by the Master class --></h1>
        <p>Inspired by <a href="http://github.com/jferris/effigy">effigy</a></p>
        <p>Rather than mixing code into markup, Neffigy uses a
           .net class to transform each view. Views manipulate the XElement result
           of parsing the template, using an embedded DSL and a subset of CSS.</p>
    </div>
    <div id="main">
        <!-- This is replaced by the view class (e.g. ShowPost) -->
    </div>
</body>
</html>